<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <title>About</title>
</head>
<body>

<div class="container" ng-app="githubApp" ng-controller="aboutController">

    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Github Resume</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0);" ng-click="home()">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <p>This app gets a github username, and displays its public repositories along with the programming languages that are used in each repository. </p>
        <p>Github, allows only 60 unauthenticated API calls within an hour, after that you will receive an error: </p>
        <p>"Github-API call exceeded 60"</p>
    </div>


</div>

<script src="js/angular-1.4.8.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

</body>
</html>