<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular-1.4.8.js"></script>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src="js/spin.min.js"></script>
    <script src="js/angular-spinner.min.js"></script>

    <title>Github Resume</title>
</head>

<body>


<div class="container" ng-app="githubApp" ng-controller="controller">
    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Github Resume</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0);" ng-click="about()">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="vertical-center">
        <input class="col-sm-3 input-lg" class="form-control" type="text" ng-model="username"
               ng-keyup="$event.keyCode == 13 ? generate() : null" placeholder="{{placeHolder}}">
        <button ng-click="generate()" class="btn btn-primary btn-lg" us-spinner="{radius:40, width:8, length: 16}" spinner-key="spinner-1">Generate
        </button>
    </div>

</div>


<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

</body>
</html>